<style>
    .search-drawer{
        text-align: center;
        display: flex;
        justify-content: center;
        padding-top: 10px;
        background-color: #fff;
        box-shadow: 0px 0px 10px #000000b0;
    }
    .theme-dark .search-drawer{
        background-color: #000;
    }
    .search-drawer .search{
        width: 80%;
    }
</style>
<script>
    this.onselect = ()=>{
        drawer.hide();
    }
</script>
<div class="search-drawer">
    <search onselect="this.onselect"></search>
</div>