<style>
    .play-view {
        width: 100%;
        height: 100%;
        background-color: #111;
    }

    .play-view .row {
        display: flex;
    }

    .play-view .cell {
        font-size: 20px;
        display: inline-flex;
        height: 100%;
        align-items: center;
        justify-content: center;
        text-align: center;
        outline: 1px solid #00000066;
        cursor: pointer;
        color: #969696;
        position: relative;
        background: rgb(48 48 48);
        /* box-shadow: 10px 10px 20px #000; */
        box-shadow: inset -2px -3px 5px #00000052, inset 2px 3px 5px #00000052;
        transform: scale(1);
        transition: transform 0.1s ease-out;
    }

    .play-view .cell.root{
        font-weight: bold;
        color: #fff;
    }

    .play-view .cell.root::after{
        content: '';
        width: 8px;
        height: 8px;
        position: absolute;
        top: 72%;
        background-color: #e90a55;
        border-radius: 30px;
    }

    .theme-dark .play-view .cell.root{
        color: #fff;
    }

    .play-view .cell.playing {
        background: #4be90a;
        opacity: 1;
        color: #fff;
        position: relative;
        transform: scale(1.1);
        border-radius: 3px;
        z-index: 20;
        box-shadow: 0px 0px 10px #0000008c;
    }

    .play-view .cell.user-playing {
        background: #e90a55 !important;
        opacity: 1;
        color: #fff;
        position: relative;
        transform: scale(1.1);
        border-radius: 3px;
        z-index: 20;
        box-shadow: 0px 0px 10px #0000008c;
    }

    .theme-dark .play-view .cell.root::after {
        background-color: aqua;
    }

    .play-view td span {}

    @media(hover:hover) {
        .play-view .cell:hover {
            opacity: 1;
            background-color: #444;
            color: #fff;
        }
    }

    @media only screen and (max-width: 550px) {
        .play-view .cell {
            font-size: 16px;
        }
    }

    @media screen and (min-width: 1300px) {
        /* styles for screens wider than 1300px */
        .play-view .cell{
            font-size: 24px;
        }
    }

</style>
<script>
    let source = null;

    this.set = () => {}

    this.clear = () => {
        this.view.innerHTML = '';
    }

    this.onrender = () => {
        const scale = app.getScale(1);
        this.view.innerHTML = '';

        const scaleStepsLength = app.getScaleLength();

        let counter = 0;
        let rows = [];

        for (let x = 0; x < scaleStepsLength; x++) {

            const $tr = document.createElement('div');
            $tr.classList.add('row');

            for (let y = 0; y < scaleStepsLength; y++) {

                const note = scale[counter];

                if (!note) continue;

                counter++;

                const $td = document.createElement('div');
                $td.classList.add('cell');
                $td.style.width = `calc(100% / ${scaleStepsLength})`;

                if (note.scaleDegree === 1) $td.classList.add('root');

                $td.note = note;
                $td.isPlayElement = true;

                $td.setAttribute('note', note.uniformFullname);
                $td.innerHTML = functions.capitalize(note.name + note.accidental + note.octave);

                const start = () => {
                    this.isDragging = true;
                    this.dragTarget = $td;
                    source = nigun.instruments[app.settings.keyboardInstrument].startFrequency(note.fq);
                    source.$el = $td;
                    $td.classList.add('user-playing');
                }

                const stop = () => {
                    this.isDragging = false;
                    if (source) {
                        source._stop();
                        $td.classList.remove('user-playing');
                        if (source.$el) source.$el.classList.remove('user-playing');
                        source = null;
                    }
                }

                $td.onmousedown = start;
                $td.onmouseup = stop;
                $td.ontouchstart = start;
                $td.ontouchend = stop;

                $tr.appendChild($td);

            }

            const fullTr = $tr.childNodes.length === scaleStepsLength;

            if (x % 2 !== 0) {

                var children = Array.from($tr.children);
                children.reverse();
                $tr.innerHTML = "";
                children.forEach(function (child) {
                    $tr.appendChild(child);
                });

            }

            if (x === 0 || x >= 5) continue;

            this.view.appendChild($tr);
            rows.push($tr);

        }

        rows.forEach(r => {
            r.style.height = `calc(100% / ${rows.length})`;
        })

    }

    const release = () => {
        if (source) {
            if (source.$el) source.$el.classList.remove('user-playing');
            source._stop();
            source = null;
            this.isDragging = false;
        }
    }

    const mousemove = (ev) => {
        // todo multi touches
        if (this.isDragging) {
            let target = ev.target;
            if (ev.touches) {
                target = document.elementFromPoint(ev.touches[0].clientX, ev.touches[0].clientY);
            }
            if (!target || this.dragTarget === target || !target.isPlayElement) return;
            if (source) {
                if (source.$el) source.$el.classList.remove('user-playing');
                source._stop();
            }
            target.classList.add('user-playing');
            source = nigun.instruments[app.settings.keyboardInstrument].startFrequency(target.note.fq);
            source.$el = target;
            this.dragTarget = target;
        }

    }

    document.removeEventListener('mouseup', release);
    document.addEventListener('mouseup', release);
    document.removeEventListener('mousemove', mousemove);
    document.removeEventListener('touchmove', mousemove);
    document.addEventListener('mousemove', mousemove);
    document.addEventListener('touchmove', mousemove);

</script>
<div class="play-view" ref="view"></div>