<style>
    body,
    html {
        padding: 0;
        margin: 0;
        width: 100%;
        height: 100%;
        overflow: hidden;
        /* font-family: 'Roboto', sans-serif; */
        font-family: 'fira', sans-serif;
        -webkit-tap-highlight-color: transparent;
        overscroll-behavior-x: none;
    }

    .theme-dark {
        background: rgb(15, 23, 33);
        background: linear-gradient(90deg, rgba(15, 23, 33, 1) 0%, rgba(27, 33, 45, 1) 100%);
    }

    :root {
        --select-color: #3adc41;
    }

    :root .theme-dark {
        --select-color: #e91e63;
    }

    .app {
        height: 100%;
        user-select: none;
        background-image:
            radial-gradient(rgb(245, 245, 245) 10%, transparent 10%),
            radial-gradient(rgb(245, 245, 245) 10%, transparent 10%);
        background-position: 0px 0px, 12px 12px;
        background-size: 24px 24px;
        background-color: rgb(255, 255, 255);
        display: flex;
    }

    .theme-dark .app {
        background-image:
            radial-gradient(rgb(0, 0, 0) 10%, transparent 10%),
            radial-gradient(rgb(18, 18, 18) 10%, transparent 10%);
        background-position: 0px 0px, 12px 12px;
        background-size: 24px 24px;
        background-color: rgb(8, 8, 8);
    }

    .app .page {
        width: 100%;
        height: 100%;
    }

    :not(:root):fullscreen::backdrop {
        background: #fff;
    }

    .theme-dark:not(:root):fullscreen::backdrop {
        background: rgb(15, 23, 33);
        background: linear-gradient(90deg, rgba(15, 23, 33, 1) 0%, rgba(27, 33, 45, 1) 100%);
    }

    @font-face {
        font-family: fira;
        src: url('assets/FiraSansCondensed-Regular.ttf');
    }

    body>div {
        height: 100%;
    }

    .noselect {
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

    .overflow-hidden {
        overflow: hidden !important;
        overflow-y: hidden !important;
        overflow-x: hidden !important;
    }

    .text-center {
        text-align: center;
    }

    .flex{
        display: flex;
    }

    .icon {
        filter: brightness(0);
        width: 100%;
        height: 100%;
    }

    .theme-dark .icon {
        filter: brightness(1) hue-rotate(80deg);
    }

    .flex {
        display: flex;
    }

    .no-padding {
        padding: 0;
    }

    .pointer {
        cursor: pointer;
    }

    .hidden {
        display: none !important;
    }

    .space-between {
        display: flex;
        justify-content: space-between;
    }

    .flex-middle {
        display: flex;
        align-items: center;
    }

    .column {
        display: flex;
        flex-direction: column;
        height: 100%;
    }

    .column>div {
        overflow-x: hidden;
        overflow-y: auto;
        flex: none;
    }

    .app-header {
        padding: 10px;
        box-sizing: border-box;
        /* background: #fff; */
        color: #565656;
        display: flex;
        justify-content: space-between;
    }

    /* .app-header .button.view-button{
        position: fixed;
        bottom: 15px;
        left: 5px;
        width: 40px;
        height: 40px;
        border-radius: 40px;
        border: 2px solid var(--select-color);
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 2;
    }

    .app-header .button.view-button:hover{
        background-color: var(--select-color);
    }

    .app-header .button.view-button img{
        width: 30px;
        height: 30px;
    } */

    .theme-dark .app-header {
        background: none;
    }

    .header-base {}

    .app-header>div>div {
        display: inline-block;
        margin-inline-end: 5px;
    }

    .app-header .button {
        background: transparent;
        font-size: 10px;
        border-radius: 5px;
        margin-inline-end: 0px;
        margin-inline-start: 5px;
        width: 22px;
        height: 22px;
    }

    .app-header .button.on {
        background: #fff709;
        color: white;
        border-radius: 50px;
    }

    .theme-dark .app-header .button.on {
        background: #e90a55;
    }

    .app-header .buttons {
        display: flex;
        align-items: center;
    }

    .grid {
        width: 100%;
        height: 100%;
        border-collapse: collapse;
    }

    .grid td {
        vertical-align: top;
        padding: 0;
    }

    .zero-height {
        height: 0;
    }

    .grid .app-footer {
        height: 0;
        position: relative;
        top: -20px;
        pointer-events: none;
    }

    @media screen and (max-width: 350px) {
        .app-header .button {
            width: 18px;
        }
    }

    @media screen and (min-width: 1000px) {
        .header-base {
            transform: scale(1.2);
            transform-origin: top left;
            position: relative;
            z-index: 2;
        }
    }

    @media screen and (min-width: 1300px) {

        /* styles for screens wider than 1300px */
        .header-base {
            transform: scale(1.5);
            transform-origin: top left;
            position: relative;
            z-index: 2;
        }
    }
</style>

<script>
    window.app = this;

    const PLANS = {
        PRO: "PRO",
        FREE: "FREE",
    };

    this.plan = PLANS.FREE;

    const getWidth = () => {
        return document.body.getBoundingClientRect().width;
    };
    const setMobile = () => {
        this.isMobile = (getWidth() <= 5000);
    }

    this.width = getWidth();

    setMobile();

    window.onresize = () => {
        setMobile();
        this.width = getWidth();
        this.render();
    }

    this.ALL_KEYS = ['C', 'C#', 'Db', 'D', 'D#', 'Eb', 'E', 'F', 'F#', 'Gb', 'G', 'G#', 'Ab', 'A', 'A#', 'Bb', 'B'];
    this.KEYS = ['C', 'C#/Db', 'D', 'D#/Eb', 'E', 'F', 'F#/Gb', 'G', 'G#/Ab', 'A', 'A#/Bb', 'B'];
    this.keyIndex = cache.get('keyId') || 2; // A

    this.PATTERNS = Object.keys(CONSTANTS.SEQUENCER_PATTERNS);

    const THEMES = {
        DEFAULT: 'DEFAULT',
        DARK: 'DARK',
    }

    this.VIEWS = {
        NECK: 'NECK',
        SCORE: 'SCORE',
        PLAY: 'PLAY',
        DETAILS: 'DETAILS',
    };

    const VIEW_TO_URL = {
        [this.VIEWS.NECK]: 'instrument',
        [this.VIEWS.SCORE]: 'notes',
        [this.VIEWS.PLAY]: 'play',
        [this.VIEWS.DETAILS]: 'details',
    }

    const URL_TO_VIEW = {
        [VIEW_TO_URL[this.VIEWS.NECK]]: this.VIEWS.NECK,
        [VIEW_TO_URL[this.VIEWS.SCORE]]: this.VIEWS.SCORE,
        [VIEW_TO_URL[this.VIEWS.PLAY]]: this.VIEWS.PLAY,
        [VIEW_TO_URL[this.VIEWS.DETAILS]]: this.VIEWS.DETAILS,
    }

    this.ROUTES = [
        'sitemap',
        'details',
        'tuner',
    ];

    this.MENU_ROUTES = [
        '',
        'details'
    ];

    const INSTRUMENT_TYPES = {
        SAMPLER: 'SAMPLER',
        SYNTH: 'SYNTH',
    }

    this.DEFAULTS = {};

    const DEFAULTS = {
        scale: 'MAJOR',
        pattern: 'UP',
        program: 'UP',
        key: 'D',
        octave: 3,
        mode: 1,
        tempo: 140,
        pitch: 440,
        detune: 0,
        accidental: CONSTANTS.ACCIDENTALS.FLAT,
        theme: THEMES.DEFAULT,
        view: this.VIEWS.PLAY,
        subView: '',
        metronome: false,
        gain: 0.72,
        instruments: {
            pad: {
                type: INSTRUMENT_TYPES.SAMPLER,
                sample: 'media/Korg-M3R-Ensemble-C4.wav',
                gain: 0.72
            },
            metronome: {
                sample: 'media/click.mp3',
                type: INSTRUMENT_TYPES.SAMPLER,
                gain: 0.72
            },
            player: {
                type: INSTRUMENT_TYPES.SAMPLER,
                sample: 'media/Yamaha-TG77-Dulcimer-C4.wav',
                gain: 0.72
            },
            keyboard: {
                type: INSTRUMENT_TYPES.SYNTH,
                oscillator: CONSTANTS.OSCILLATOR_TYPES.TRIANGLE,
                gain: 0.72
            },
        },
    };

    this.DEFAULTS = DEFAULTS;

    this.settings = {
        bpm: cache.get('bpm') ? Number(cache.get('bpm')) : DEFAULTS.tempo,
        key: cache.get('key') || DEFAULTS.key,
        octave: cache.get('octave') ? Number(cache.get('octave')) : DEFAULTS.octave,
        scale: cache.get('scale') || DEFAULTS.scale,
        pattern: cache.get('pattern') || DEFAULTS.pattern,
        program: cache.get('program') || DEFAULTS.program,
        mode: cache.get('mode') ? Number(cache.get('mode')) : DEFAULTS.mode,
        accidental: cache.get('accidental') || DEFAULTS.accidental,
        concertPitch: cache.get('pitch') ? Number(cache.get('pitch')) : DEFAULTS.pitch,
        theme: cache.get('theme') || DEFAULTS.theme,
        loop: true,
        metronome: cache.get('metronome') === 'true' ? true : false,
        view: cache.get('view') || DEFAULTS.view,
        subView: cache.get('subview') || DEFAULTS.subView,
        gain: cache.get('gain') ? Number(cache.get('gain')) : DEFAULTS.gain,
    };

    this.settings.instruments = DEFAULTS.instruments;

    try {
        if (cache.get('instruments')) this.settings.instruments = JSON.parse(cache.get('instruments'));
    } catch (e) {}

    let instruments = [];

    Object.keys(this.settings.instruments).forEach((name) => {
        const instrument = this.settings.instruments[name];
        instruments.push({
            name,
            type: instrument.type,
            gain: instrument.gain,
            oscillator: instrument.oscillator,
            notesMap: {
                C4: instrument.sample,
            }
        })
    })

    this.padIsPlaying = false;

    window.nigun = new Nigun({
        bpm: this.settings.bpm,
        gain: this.settings.gain,
        signature: '4/4',
        instruments,
        oninit: () => {
            nigun.toggleMetronome(this.settings.metronome);
        },
        onstop: () => {
            functions.unlightAllNotes();
        }
    });

    this.route = '';

    this.setRoute = (route) => {
        this.route = route;
        this.setURL(route);
        this.render();
    }

    this.init = () => {

        this.setTheme();

        var route = location.href.split(location.origin)[1].slice(1);

        if (route) {
            if (this.ROUTES.includes(route)) this.route = route;
            else {
                const routeParts = route.split('/');
                const routeScale = routeParts[0];
                const routeKey = routeScale.split('-')[0];
                const routeScaleName = routeScale.split('-').slice(1).join('_').toUpperCase();
                const routeView = routeParts[1];
                this.settings.key = routeKey;
                this.settings.scale = routeScaleName;
                if (routeView) this.settings.view = URL_TO_VIEW[routeView];
                if (this.settings.view === this.VIEWS.DETAILS) this.route = 'details';
                this.setURL();
            }
        }

    }

    this.play = async () => {

        const timeline = nigun.sequencer({
            scale: this.getScale(),
            pattern: this.getPattern(),
        })

        const sequence1 = nigun.createSequence({
            timeline
        });

        const track = nigun.createTrack({
            name: 'melody',
            instrument: nigun.instruments.player,
            sequences: [
                sequence1,
            ],
            oneventstart: (ev) => {
                functions.unlightAllNotes();
                functions.lightNotes(ev.item.item.note.uniformFullname);
            },
            oneventend: (ev) => {},
        });

        nigun.setLengthByTrack(track);
        nigun.play();

    }

    this.change = () => {
        if (nigun.IS_PLAYING) this.play();
    }

    this.getCustomData = (type = 'scales') => {
        let data = [];
        const d = localStorage.getItem(`custom_${type}`);
        if (!d) localStorage.setItem(`custom_${type}`, '{}');
        try {
            data = JSON.parse(localStorage.getItem(`custom_${type}`) || {});
        } catch (e) {}
        return data;
    }

    this.setCustomData = (d = {}, type = 'scales') => {
        localStorage.setItem(`custom_${type}`, JSON.stringify(d));
    }

    this.getCustomScales = () => {
        return this.getCustomData();
    }

    this.setCustomScales = (newCustomScales = {}) => {
        this.setCustomData(newCustomScales)
    }

    this.getScales = () => {
        return {
            ...this.getCustomScales(),
            ...CONSTANTS.SCALES
        };
    }

    this.getCustomPrograms = () => {
        return this.getCustomData('programs');
    }

    this.setCustomPrograms = (d = {}) => {
        this.setCustomData(d, 'programs')
    }

    this.getPrograms = () => {
        return {
            ...this.getCustomPrograms(),
            ...CONSTANTS.PROGRAMS
        };
    }

    this.getProgram = () => {
        return this.getPrograms()[this.settings.program];
    }

    this.getScaleLength = () => {
        const scale = app.getScales()[this.settings.scale];
        let l = scale.steps.length;
        return l;
    }

    this.getScaleSteps = () => {
        const scale = app.getScales()[this.settings.scale];
        let steps = scale.steps;
        return steps;
    }

    this.getScale = (octave = this.settings.octave, key = this.settings.key, scaleName = this.settings.scale,
        singleOctave) => {
        const scale = app.getScales()[scaleName];
        const d = nigun.getScale({
            root: key + octave,
            // rootFrequency: 320.24370022528126, // e half flat
            steps: scale.steps,
            shift: this.settings.mode - 1,
            concertPitch: this.settings.concertPitch,
            // accidental: this.settings.accidental,
            // dropNotes: scale.DROP,
            align: !scale.noSequencialNotation,
        });
        return singleOctave ? d.slice(0, scale.steps.length) : d;
    }

    this.getScaleSingleOctave = (octave = this.settings.octave, key = this.settings.key, scaleName = this.settings.scale)=>{
        return this.getScale(octave, key, scaleName, true);
    }

    this.getScaleName = () => {
        return `${this.settings.key} ${this.getScales()[this.settings.scale].title}`;
    }

    this.getScaleNotes = ()=>{
        return this.getScale(undefined, undefined, undefined, true).map(a => (a.fullname));
    }

    this.getScaleChords = ( scaleName = this.settings.scale ) => {

        const scaleData = this.getScales()[scaleName];
        const fullScale = this.getScale(undefined, undefined, scaleName);
        const scale = fullScale.slice(0, scaleData.steps.length);
        const scaleNotes = scale.map(a => (a.fullname));

        scaleNotes.forEach((note)=>{
            const alternative = functions.getNoteAlternative(note);
            if (alternative) scaleNotes.push(alternative)
        })

        const chords = all_chords.filter((chord) => {
            let inScale = true;
            chord.notes.forEach((note)=>{
                if(scaleNotes.indexOf(note) === -1) inScale = false;
            });
            return inScale;
        });

        let sorted = [];

        const sortOrder = [
            '1-3-5', // all triads [C, Dm, Em, F, G, Am, Bdim]
            '1-3-5-7',
            '1-4-5', // sus4
            '1-2-5', // sus2s
        ];
        
        let sortGroups = [];

        sortOrder.forEach((s, si)=>{
            const intervals = s.split('-').map(a=>(Number(a) - 1));
            const sortData = [];
            sortGroups.push(sortData);
            scaleData.steps.forEach((a, i)=>{
                let stepNotes = intervals.map(b=>(fullScale[b+i].fullname));
                let flag = false;
                chords.forEach((chord)=>{
                    if(JSON.stringify(chord.notes) === JSON.stringify(stepNotes)){
                        sortData.push(chord)
                    }
                })
            })
        })

        sortGroups.forEach((s)=>{
            sorted = sorted.concat(s);
        });

        const sortedNames = sorted.map((a)=>(a.name));

        chords.sort((a,b)=>{
            return ((a.name.length < b.name.length)) ? -1 : 1;
        })

        chords.forEach((chord)=>{
            if( sortedNames.indexOf(chord.name) === -1) sorted.push(chord);
        })

        return sorted;
    }

    this.getSimilarScales = ( compareScale = this.settings.scale, maxDiff )=>{
        const scale = this.getScaleSingleOctave(undefined, undefined, compareScale);
        const scaleUniformed = scale.map(a=>(a.uniformFullname));
        const TET24 = nigun.getScale({ root: this.settings.key + this.settings.octave, steps: CONSTANTS.TET24, align: false, });
        const allUniformed = TET24.map(a=>(a.uniformFullname));
        const similarScales = [];
        Object.keys(CONSTANTS.SCALES).forEach(scaleName=>{
            if(compareScale === scaleName) return;
            const scale2 = this.getScaleSingleOctave(undefined, undefined, scaleName);
            if(scale.length !== scale2.length) return;
            const scale2Uniformed = scale2.map(a=>(a.uniformFullname));
            const similarity = [];
            scaleUniformed.forEach((note, idx)=>{
                const note2 = scale2Uniformed[idx];
                const position1 = allUniformed.indexOf(note);
                const position2 = allUniformed.indexOf(note2);
                similarity.push(Math.abs(position1 - position2));
                // console.log(position1, position2);
            });
            const diff = similarity.reduce((a,b)=>{ return a+b; }, 0)
            similarScales.push({
                name: scaleName,
                title: CONSTANTS.SCALES[scaleName].title,
                notes: scale2.map(a=>(a.displayName)),
                scale: scale2,
                similarity,
                diff
            })
        })
        similarScales.sort((a,b)=>{ return a.diff >= b.diff ? 1 : -1; });
        if(maxDiff) return similarScales.filter(a=>(a.diff <= maxDiff));
        return similarScales;
    }

    this.nextScale = ( next )=>{
        const scales = Object.keys(this.getScales());
        let idx = scales.indexOf(this.settings.scale);
        idx = idx + (next ? 1 : -1);
        if(idx >= scales.length) idx = 0;
        else if(idx < 0) idx = scales.length - 1;
        this.setScale(Object.keys(this.getScales())[idx]);
        this.settings.mode = 1;
        cache.set('mode', this.settings.mode);
        this.render();
        this.change();
    }

    this.getPattern = () => {
        return CONSTANTS.SEQUENCER_PATTERNS[this.settings.pattern];
    }

    this.stop = () => {
        nigun.stop();
    }

    this.set = (o) => {
        for (let x in o) {
            this.settings[x] = o[x];
            cache.set(x, o[x]);
        }
        this.render();
    }

    this.setKey = (key) => {
        this.settings.key = key;
        cache.set('key', this.settings.key);
        cache.set('octave', this.settings.octave);
        this.render();
    }

    this.setTempo = (bpm) => {
        app.settings.bpm = bpm;
        nigun.setTempo(app.settings.bpm);
        cache.set('bpm', app.settings.bpm);
        this.tempoComponent.render();
    }

    this.setConcertPitch = (pitch = DEFAULTS.pitch) => {
        this.settings.concertPitch = pitch;
        cache.set('pitch', this.settings.concertPitch);
        this.render();
    }

    this.setScale = (scale = DEFAULTS.scale) => {
        this.settings.scale = scale;
        cache.set('scale', scale);
        this.render();
    }

    this.setMode = (mode) => {
        this.settings.mode = mode;
        cache.set('mode', mode || 1);
        this.render();
    }

    this.setPattern = (pattern) => {
        this.settings.pattern = pattern;
        cache.set('pattern', pattern);
        this.render();
        this.change();
    }

    this.setProgram = (program) => {
        this.settings.program = program;
        cache.set('program', program);
        this.render();
    }

    this.toggleView = () => {
        const keys = Object.keys(VIEWS);
        let id = keys.indexOf(this.settings.view);
        id = (id + 1) % keys.length;
        this.settings.view = keys[id];
        cache.set('view', app.settings.view);
        this.setURL();
        this.render();
    }

    this.setView = (view = this.VIEWS.PLAY) => {
        this.settings.view = view;
        cache.set('view', app.settings.view);
        if (this.settings.view === this.VIEWS.DETAILS) {
            this.route = 'details';
        } else {
            this.route = '';
        }
        this.setURL();
        this.render();
    }

    this.setTheme = (theme = this.settings.theme) => {
        document.body.className = '';
        document.body.classList.add(`theme-${theme.toLowerCase()}`);
        this.settings.theme = theme;
        cache.set('theme', theme);
    }

    this.getURL = (key = this.settings.key, scale = this.settings.scale, view = this.settings.view) => {
        if (this.ROUTES.includes(this.route)) return `/${this.route}`;
        return `/${key}-${scale.toLowerCase().replaceAll('_','-')}/${VIEW_TO_URL[view]}`;
    }

    this.getShortURL = (key = this.settings.key, scale = this.settings.scale) => {
        return `/${key}-${scale.toLowerCase().replaceAll('_','-')}`;
    }

    this.setURL = (url = this.getURL()) => {
        window.history.replaceState({
            page: 2
        }, null, url);
    }

    this.setTitle = ()=>{
        if(this.route === 'sitemap') return document.title = 'Music-Scales.com: All Scales (sitemap)';
        document.title = `${this.getScaleName()}: play and explore scales and maqamas - music-scales.com`;
    }

    this.onbeforerender = ()=>{
        this.setTitle();
    }

    this.onrender = () => {
        this.setURL();
        // this.setTitle();
    }

    this.colorOrgan = () => {
        let i = 250;
        if (window.colorInterval) clearInterval(window.colorInterval);
        window.colorInterval = setInterval(function () {
            const box = $('.scale-header');
            if (!box) return;
            const hue = i % 360;
            const shadowColor = `hsla(${hue}, 100%, 50%, 80%)`;
            box.style.boxShadow = `0 13px 0px ${shadowColor}`;
            i++;
        }, 250);
    }

    this.colorOrgan();

    this.init();

</script>

<div class="app">
    <div class="page flex" if="this.route === ''">
        <table class="grid">
            <tr>
                <td class="zero-height">
                    <div class="app-header">
                        <div class="header-base">
                            <key></key>
                            <tempo></tempo>
                        </div>
                        <div class="buttons">
                            <button icon="assets/metronome.svg" onclick="functions.toggleMetronome"
                                class="{{app.settings.metronome ? 'on' : ''}}"></button>
                            <button icon="assets/pad.svg" onclick="functions.togglePad"
                                class="{{app.padIsPlaying ? 'on' : ''}}"></button>
                            <button icon="assets/mixer.svg" onclick="()=>{popup.show('mixer')}"></button>
                            <!-- <button class="view-button" icon="assets/eye.svg" onclick="()=>{this.toggleView()}"></button> -->
                            <button icon="assets/hamsa.svg" onclick="()=>{popup.show('settings')}"></button>
                        </div>
                    </div>
                    <scale></scale>
                </td>
            </tr>
            <tr>
                <td>
                    <main></main>
                </td>
            </tr>
            <tr>
                <td class="zero-height app-footer">
                    <play _name="play"></play>
                    <!-- <program></program> -->
                    <pattern></pattern>
                </td>
            </tr>
        </table>
    </div>
    <div class="page" if="this.route === 'sitemap'">
        <sitemap></sitemap>
    </div>
    <div class="page" if="this.route === 'details'">
        <scale-details></scale-details>
    </div>
    <div class="page" if="this.route === 'tuner'">
        <tuner></tuner>
    </div>
    <!-- <keyboard if="this.MENU_ROUTES.includes(this.route)"></keyboard> -->
    <menu if="this.MENU_ROUTES.includes(this.route)"></menu>
    <sidebar></sidebar>
    <popup></popup>
    <drawer></drawer>
    <keyboard-player></keyboard-player>
    <!-- <welcome-page></welcome-page> -->
</div>