<script>

    this.key.onmousewheel = (e)=>{

        return;

        event.deltaY < 0 ? app.keyIndex++ : app.keyIndex--;

        const lastIndex = app.KEYS.length - 1;
        const last = app.KEYS[lastIndex];

        if(app.keyIndex < 0) {
            app.keyIndex = lastIndex;
            app.settings.octave--;
        }
        
        if(app.keyIndex > app.KEYS.length - 1) {
            app.keyIndex = 0;
            app.settings.octave++;
        }

        app.setKey(app.keyIndex);

    }

</script>

<style>
    .key{}
    .desktop .key .value{
        font-size: 50px;
    }
</style>

<div class="key pointer" ref="key" onclick="popup.show('key')">
    <value-box title="Key" value="{{app.settings.key + String(app.settings.octave)}}"></value-box>
</div>