<style>
    .scale-details {
        padding: 10px;
        box-sizing: border-box;
        height: 100%;
        overflow: auto;
        text-align: center;
    }

    .scale-details .scale-details-header{}

    .scale-details .scale-details-header span{
        cursor: pointer;
    }

    .scale-details .title{
        margin-bottom: 20px;
        font-size: 18px;
    }

    .scale-details .part{
        margin-top: 10px;
        margin-bottom: 20px;
        border-bottom: 1px dashed #ccc;
        padding-bottom: 20px;
    }

    .scale-details h1 {
        font-size: 32px;
        margin-bottom: 45px;
    }

    .scale-details h2{
        padding: 0px;
        margin: 0px;
        margin-bottom: 10px;
    }

    .scale-details h1 span {
        border-bottom: 15px solid #ccc;
    }
    .scale-details .scale-notes{
        display: flex;
        justify-content: center;
    }
    .scale-details .scale-notes > div{
        font-size: 32px;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 10px;
        width: 30px;
        height: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-inline-end: 10px;
    }
    .scale-details .scale-chords{
        display: flex;
        flex-wrap: wrap;
        gap:10px;
        justify-content: space-between;
    }
    .scale-details .scale-chords > div{
        padding: 10px;
        border:3px solid #ccc;
        width: 20%;
        border-radius: 50px;
        cursor: pointer;
        box-sizing: content-box;
    }
    .scale-details .scale-chords > div:hover{
        border: 3px solid var(--select-color);
    }
    .scale-details .scale-chords .chord-name{
        text-align: center;
        font-size: 28px;
        font-weight: bold;
        margin-bottom: 3px;
    }
    .scale-details .scale-chords .chord-notes{
        text-align: center;
    }
    .scale-details .similarity{
        table-layout: fixed;
        border-collapse: collapse;
        display: inline-table;
    }
    .scale-details .similarity .similarity-header{

    }
    .scale-details .similarity td{
        padding: 5px;
        border: 1px solid #ccc;
    }
</style>
<script>


</script>
<div class="scale-details">
    <div class="scale-details-header">
        <div class="title">
            Music-Scales.com - Explore and Practice Scales & Maqams
        </div>
        <span onclick="app.nextScale()">Prev Scale</span> | 
        <span onclick="app.nextScale(true)">Next Scale</span>
    </div>
    <h1><span onclick="popup.show('scale')">{{app.getScaleName()}} Scale</span></h1>
    <div class="part">
        <h2 title="{{app.getScaleName()}} Scale Notes">Scale Notes</h2>
        <div class="scale-notes">
            <div class="scale-note" for="note in app.getScaleNotes()">{{note}}</div>
        </div>
    </div>
    <div class="part">
        <h2 title="{{app.getScaleName()}} Scale Intervals">Scale Intervals</h2>
        <div class="scale-notes">
            <div class="scale-note" for="note in app.getScaleSteps()">{{note}}</div>
        </div>
    </div>
    <!-- <div class="part">
        <h2> Scale Positions</h2>
    </div> -->
    <div class="part">
        <h2 title="{{app.getScaleName()}} Similar Scales">Similar Scales</h2>
        <table class="similarity">
            <tr class="similarity-header">
                <td>Scale</td>
                <td>Diff. (Tones)</td>
                <td>Notes</td>
            </tr>
            <tr for="scale in app.getSimilarScales(undefined, 2)">
                <td onclick="console.log(scale.name)">{{scale.title}}</td>
                <td>{{scale.diff ? scale.diff / 4 : '-'}}</td>
                <td>{{scale.notes.join(' · ')}}</td>
            </tr>
        </table>
    </div>
    <div class="part">
        <h2 title="{{app.getScaleName()}} Chords on Scale">Chords on scale ({{app.getScaleChords().length}})</h2>
        <div class="scale-chords">
            <div for="chord in app.getScaleChords()" onmousedown="functions.startChord(chord);"><div class="chord-name">{{chord.name}}</div><div class="chord-notes">{{chord.notes.join(' - ')}}</div></div>
        </div>
    </div>
</div>