<style>
    .scale-details {
        padding: 10px;
        box-sizing: border-box;
        height: 100%;
        overflow: auto;
    }

    .scale-details .part{
        margin-top: 10px;
        margin-bottom: 20px;
    }

    .scale-details h1 {
        font-size: 32px;
        margin-bottom: 45px;
    }

    .scale-details h2{
        padding: 0px;
        margin: 0px;
        margin-bottom: 10px;
    }

    .scale-details h1 span {
        border-bottom: 15px solid #ccc;
    }
    .scale-notes{
        display: flex;
    }
    .scale-notes > div{
        font-size: 32px;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 50px;
        width: 30px;
        height: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-inline-end: 10px;
    }
    .scale-chords{
        display: flex;
        flex-wrap: wrap;
        gap:10px;
    }
    .scale-chords > div{
        padding: 10px;
        border:1px solid #ccc;
        width: 20%;
        border-radius: 10px;
    }
    .scale-chords .chord-name{
        text-align: center;
        font-size: 20px;
        font-weight: bold;
        margin-bottom: 3px;
    }
    .scale-chords .chord-notes{
        text-align: center;
    }
</style>
<script>

    this.getNotes = ()=>{
        return app.getScale(undefined, undefined, undefined, true).map(a => (a.fullname));
    }

    this.getChords = () => {
        const scale = app.getScale(undefined, undefined, undefined, true);
        const scaleNotes = scale.map(a => (a.fullname));
        scaleNotes.forEach((note)=>{
            const alternative = functions.getNoteAlternative(note);
            if (alternative) scaleNotes.push(alternative)
        })
        const chords = all_chords.filter((chord) => {
            let inScale = true;
            chord.notes.forEach((note)=>{
                if(scaleNotes.indexOf(note) === -1) inScale = false;
            });
            return inScale;
        });

        chords.sort((a,b)=>{
            return ((a.name.length < b.name.length)) ? -1 : 1;
        })

        // chords.sort((a,b)=>{
        //     return ((a.name[0] === app.settings.key )) ? -1 : 1;
        // })

        return chords;
    }

    this.onrender = () => {
        // this.getChords();
    }

</script>
<div class="scale-details">
    <h1><span>{{app.getScaleName()}} Scale</span></h1>
    <div class="part">
        <h2>{{app.getScaleName()}} Scale Notes</h2>
        <div class="scale-notes">
            <div class="scale-note" for="note in this.getNotes()">{{note}}</div>
        </div>
    </div>
    <div class="part">
        <h2>{{app.getScaleName()}} Scale Intervals</h2>
    </div>
    <div class="part">
        <h2>{{app.getScaleName()}} Scale Positions</h2>
    </div>
    <div class="part">
        <h2>{{app.getScaleName()}} Similar Scales</h2>
    </div>
    <div class="part">
        <h2>{{app.getScaleName()}} - Chords on scale ({{this.getChords().length}})</h2>
        <div class="scale-chords">
            <div for="chord in this.getChords()"><div class="chord-name">{{chord.name}}</div><div class="chord-notes">{{chord.notes.join(' - ')}}</div></div>
        </div>
    </div>
</div>