<style>
    .scale-details{
        padding: 10px;
        box-sizing: border-box;
    }
    .scale-details h1{
        font-size: 32px;
    }
    .scale-details h1 span{
        border-bottom: 15px solid #ccc;
    }
</style>
<script></script>
<div class="scale-details">
    <h1><span>{{app.getScaleName()}} Scale</span></h1>
    <div>
        <h2>Scale Notes</h2>
        play
    </div>
    <div>
        <h2>Scale Intervals</h2>
    </div>
    <div>
        <h2>Scale Positions</h2>
    </div>
    <div>
        <h2>Similar Scales</h2>
    </div>
    <div>
        <h2>Scale Chords</h2>
    </div>
</div>