<style>
    .sidebar{
        background-color: #252525;
        flex-basis: 320px;
        flex-grow: 0;
        flex-shrink: 0;
        font-size: 14px;
    }
    .sidebar .sidebar-top{
        height: calc(100% - 270px);
        color: #fff;
        box-sizing: border-box;
        position: relative;
    }
    .sidebar .sidebar-top > div{
        padding: 15px;
    }
    .sidebar .title{
        margin-bottom: 10px;
        font-size: 20px;
        background-color: #191919;
    }
    .sidebar .title small{
        font-size: 11px;
        color: #919191;
        font-style: italic;
    }
    .sidebar .text{
        font-size: 20px;
        text-align: center;
    }
    .sidebar .bottom{
        position: absolute;
        bottom: 0;
        width: 100%;
        font-size: 11px;
        box-sizing: border-box;
    }
    .sidebar .bottom-button{
        cursor: pointer;
    }
    .sidebar .bottom-button:hover{
        text-decoration: underline;
    }
    .sidebar .ad-placement{
        /* background: #333; */
        padding: 10px;
        box-sizing: border-box;
        display: block !important;
    }
    .sidebar .ad{
        width: 300px;
        height: 250px;
        /* background: #525252; */
        display: flex;
        align-items: center;
    }
    .sidebar .ad img{
        width: 100%;
        height: 100%;
        position: relative;
        top:10px;
        right: 10px;
        transform: scale(1.2);
    }
    @media only screen and (max-width: 950px) {
        .sidebar{
            display: none;
        }
    }
</style>
<script></script>
<div class="sidebar">
    <div class="sidebar-top">
        <div class="title">Music Scales <small>by Eldad Eliyahu Levi</small></div>
        <div class="text">
            Explore and practice scales and maqams on a microtonal (24TET) scale player, instrument neck viewer and staff notation
        </div>
        <div class="bottom space-between">
            <div></div>
            <div class="bottom-button" onclick="app.setRoute('sitemap')">SITEMAP</div>
        </div>
    </div>
    <div class="ad-placement">
        <div class="ad">
            <img src="./assets/sheep.png" />
        </div>
    </div>
</div>