<style>
    .stepper{
        width: 100%;
        height: 100%;
        padding: 5px;
        box-sizing: border-box;
    }
    .stepper.selected{}
    .stepper .content{
        display: inline-flex;
        width: 100%;
        height: 100%;
        background-color: #efefef;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
    }
    .theme-dark .stepper .content{
        background-color: #333;
    }
    .stepper.selected .content{
        background-color: var(--select-color);
        color: #fff;
    }
    .stepper.selected .actions{
        background-color: var(--select-color);
        filter: brightness(0.9);
    }
    .stepper .value{
        width: 80%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .stepper .actions{
        width: 26%;
        background: #ccc;
    }
    .theme-dark .stepper .actions{
        background: #000;
        color: #fff;
    }
    .stepper .actions img{
        height: 50%;
    }
    .stepper .actions > div{
        width: 100%;
        height: 20px;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
    }
</style>
<script>
    // debugger;
    this.add = (v)=>{
        this.props.value = Number(Number(this.props.value) + Number(v)).toFixed(2);
        if(this.props.onchange) this.props.onchange(this.props.value, this.props.index);
        this.render();
    }
    this.onclick = ()=>{
        if(this.props.onclick) this.props.onclick(this.props.index);
    }
</script>
<div class="stepper {{this.props.classname || ''}}" onclick="this.onclick()">
    <div class="content">
        <div class="value">
            {{this.props.value}}
        </div>
        <div class="actions">
            <div onclick="this.add(this.props.size)">
                <img class="icon" src="assets/plus.svg" />
            </div>
            <div onclick="this.add(-this.props.size)">
                <img class="icon" src="assets/minus.svg" />
            </div>
        </div>
    </div>
</div>