<script>

</script>
<style>
    .value-box{
        text-align: center;
    }
    .value-box .title{
        text-align: left;
        font-size: 10px;
    }
    .value-box .value{
        font-size: 26px;
        color: #333;
        font-weight: bold;
    }
    .theme-dark .value-box .value{
        color: #1bfefc;
    }
    .theme-dark .value-box .title{
        color: #1ab2b1;
    }
    @media only screen and (min-width: 768px) {
        .value-box .value{
            
        }
    }
</style>
<script>
</script>
<div class="value-box">
    <div class="title">{{this.props.title}}</div>
    <div class="value" ref="value">{{this.props.value}}</div>
</div>