<style>
    .eq{
        width: 400px;
    }
</style>
<script>

    let equalizer;

    this.onselect = () => {
        this.video.click();
    }

    function getBuffer(file) {
        return new Promise((resolve, reject) => {
            const reader = new FileReader();
            reader.onload = function (event) {
                // Resolve with the ArrayBuffer representing the video file data
                resolve(event.target.result);
            };
            reader.onerror = function (error) {
                // Reject with the error if reading the file fails
                reject(error);
            };
            // Read the video file as an ArrayBuffer
            reader.readAsArrayBuffer(file);
        });
    }

    this.video.addEventListener('change', () => {
        if (this.video.files && this.video.files[0]) {
            var file = this.video.files[0];
            // Do something with the selected video file.
            console.log('Selected video file:', file);

            var audioContext = new(window.AudioContext || window.webkitAudioContext)();
            var fileData = new Blob([file]);
            var videoFileAsBuffer = getBuffer(file);

            videoFileAsBuffer.then(function (data) {
                audioContext.decodeAudioData(data).then(function (decodedAudioData) {
                    var mySoundBuffer = decodedAudioData;
                    var soundSource = audioContext.createBufferSource();
                    soundSource.buffer = mySoundBuffer;

                    // Create an Equalizer
                    equalizer = audioContext.createBiquadFilter();
                    equalizer.type = 'peaking';
                    equalizer.frequency.value = 1000; // Example: Adjust the frequency
                    equalizer.gain.value = 0; // Example: Adjust the gain

                    // Connect the nodes
                    soundSource.connect(equalizer);
                    equalizer.connect(audioContext.destination);

                    soundSource.start();

                });
            });
        }
    })

    this.setGain = (v)=>{
        if(equalizer){
            equalizer.frequency.value = 2500;
            equalizer.gain.value = -10 + v;
        }
    }

</script>
<div>
    <div id="select-video-button" onclick="this.onselect($event)">Select Video</div>
    <input ref="video" type="file" id="video-input" accept="video/mp4" style="display: none;" />
    <div class="eq">
        <slider onchange="(v)=>{ this.setGain(v) }" min="0" max="20" value="10" size="20"></slider>
    </div>
    
</div>