<style>
    .mixer{
        padding: 10px;
    }
    .mixer .title{
        font-size: 20px;
        margin-bottom: 20px;
        display: flex;
        justify-content: space-between;
    }
    .mixer .title div{
        display: flex;
        align-items: center;
    }
    .mixer .title span{
        border-bottom: 10px solid #ccc;
    }
    .theme-dark .mixer .title span{
        border-bottom: 10px solid #333;
    }
</style>
<script>

    this.setMasterGain = (value)=>{ 
        nigun.masterGain.gain.value = value;
        app.settings.gain = value;
        cache.set('gain', value);
    }

</script>
<div class="mixer">
    <div class="title"><span>Mixer</span></div>
    <mixer-instrument instrument="master" isMaster="true"></mixer-instrument>
    <mixer-instrument instrument="player"></mixer-instrument>
    <mixer-instrument instrument="keyboard"></mixer-instrument>
    <mixer-instrument instrument="pad"></mixer-instrument>
    <mixer-instrument instrument="metronome"></mixer-instrument>
</div>