<style>
    .mixer{
        padding: 10px;
    }
    .mixer .title{
        font-size: 20px;
        margin-bottom: 20px;
    }
    .mixer .part{
        margin-bottom: 15px;
    }
    .mixer .part .title{
        margin-bottom: 10px;
    }
</style>
<script>

    this.setGain = (instrument, value)=>{
        app.settings.instruments[instrument].gain = value;
        nigun.instruments[instrument].gainNode.gain.value = value;
        cache.set('instruments', app.settings.instruments);
    }

    this.setMasterGain = (value)=>{ 
        nigun.masterGain.gain.value = value;
        app.settings.gain = value;
        cache.set('gain', value);
    }

</script>
<div class="mixer">
    <div class="title">Mixer</div>
    <div class="part">
        <div class="title">MASTER</div>
        <div class="slider-wrapper">
            <slider onchange="this.setMasterGain" value="{{app.settings.gain}}" size="20"></slider>
        </div>
    </div>
    <div class="part">
        <div class="title">PLAYER</div>
        <div class="slider-wrapper">
            <slider onchange="(v)=>{ this.setGain('player', v) }" value="{{nigun.instruments.player.gainNode.gain.value}}" size="20"></slider>
        </div>
    </div>
    <div class="part">
        <div class="title">KEYBOARD</div>
        <div class="slider-wrapper">
            <slider onchange="(v)=>{ this.setGain('keyboard', v) }" value="{{nigun.instruments.keyboard.gainNode.gain.value}}" size="20"></slider>
        </div>
    </div>
    <div class="part">
        <div class="title">PAD</div>
        <div class="slider-wrapper">
            <slider onchange="(v)=>{ this.setGain('pad', v) }" value="{{nigun.instruments.pad.gainNode.gain.value}}" size="20"></slider>
        </div>
    </div>
    <div class="part">
        <div class="title">METRONOME</div>
        <div class="slider-wrapper">
            <slider onchange="(v)=>{ this.setGain('metronome', v) }" value="{{nigun.instruments.metronome.gainNode.gain.value}}" size="20"></slider>
        </div>
    </div>
    <div class="sounds"></div>
</div>