<style>
    .mixer{
        padding: 10px;
    }
    .mixer .title{
        font-size: 20px;
        margin-bottom: 20px;
    }
    .mixer .part{
        margin-bottom: 15px;
    }
    .mixer .part .title{
        margin-bottom: 10px;
    }
</style>
<script>

    this.changeMasterGain = (value)=>{ nigun.masterGain.gain.value = value;}
    this.changePadGain = (value)=>{ nigun.instruments[app.settings.padInstrument].gainNode.gain.value = value;}
    this.changeMetronomeGain = (value)=>{ nigun.Metronome.gainNode.gain.value = value;}
    this.changeInstrumentGain = (value)=>{ nigun.instruments[app.settings.instrument].gainNode.gain.value = value;}
    this.changeKeyboardGain = (value)=>{ nigun.instruments[app.settings.keyboardInstrument].gainNode.gain.value = value;}

    this.a = {on:'I', off:'O'};

</script>
<div class="mixer">
    <div class="title">Mixer</div>
    <div class="part">
        <div class="title">MASTER</div>
        <div class="slider-wrapper">
            <slider onchange="this.changeMasterGain" value="{{nigun.masterGain.gain.value}}" size="20"></slider>
        </div>
    </div>
    <div class="part">
        <div class="title">PLAYER</div>
        <div class="slider-wrapper">
            <slider onchange="this.changeInstrumentGain" value="{{nigun.instruments[app.settings.instrument].gainNode.gain.value}}" size="20"></slider>
        </div>
    </div>
    <div class="part">
        <div class="title">KEYBOARD</div>
        <div class="slider-wrapper">
            <slider onchange="this.changeKeyboardGain" value="{{nigun.instruments[app.settings.keyboardInstrument].gainNode.gain.value}}" size="20"></slider>
        </div>
    </div>
    <div class="part">
        <div class="title">PAD</div>
        <div class="slider-wrapper">
            <slider onchange="this.changePadGain" value="{{nigun.instruments[app.settings.padInstrument].gainNode.gain.value}}" size="20"></slider>
        </div>
    </div>
    <div class="part">
        <div class="title">METRONOME</div>
        <div class="slider-wrapper">
            <slider onchange="this.changeMetronomeGain" value="{{nigun.Metronome.gainNode.gain.value}}" size="20"></slider>
        </div>
    </div>
    <div class="sounds"></div>
</div>