<style>
    .tempo-popup{}
</style>
<script>
    this.getOptions = ()=>{
        let steps = [];
        for(let x=25; x<=500; x++) steps.push({value: x,})
        return steps;
    }
    this.setTempo = (step)=>{
        app.settings.bpm = step.value;
        nigun.setTempo(app.settings.bpm);
        cache.set('bpm', app.settings.bpm);
        // popup.hide();
        setTimeout(()=>{
            app.render();    
        },10)
    }
</script>
<div class="tempo-popup" ref="popup">
    <list size="35px" center selected="nigun.settings.bpm" options="this.getOptions()" onselect="this.setTempo"></list>
</div>